
<h2>Publisher List</h2>

<%= link_to 'New Publishers', new_publisher_path  %>

<% @publishers.each do |publisher| %>

    	<h3><%= link_to publisher.name, publisher_path(publisher) %></h3>
    	<p><%= publisher.address %></p>
    	
  <% end %>
