<h1> Quantity of books :<%= @books.count %></h1>
<h1> Quantity of publishers :<%= @publishers.count %></h1>
<h1> Quantity of customers :<%= @customers.count %></h1>
<h1> Quantity of editors :<%= @editors.count %></h1>