<h1> Quantity of books :<%= Book.count %></h1>
<h1> Quantity of publishers :<%= Publisher.count %></h1>
<h1> Quantity of customers :<%= Customer.count %></h1>
<h1> Quantity of editors :<%= Editor.count %></h1>