<% if @location.present? %>
  <h1> Name:<%= @location.name %></h1>

  <h1> Address :<%= @location.address %></h1>

  <h1> Street: <%= @location.street %></h1>

  <h1> District:<%= @location.district %></h1>
<% end %>